@font-face {
  font-family: TransatBold;
  src: url("fonts/transat-bold.otf") format("opentype");
}

@font-face {
  font-family: TransatMedium;
  src: url("fonts/transat-medium.otf") format("opentype");
}

@font-face {
  font-family: TransatStandard;
  src: url("fonts/transat-standard.otf") format("opentype");
}

@font-face {
  font-family: TransatLight;
  src: url("fonts/transat-light.otf") format("opentype");
}

body {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
  position: absolute;
  pointer-events: none;
}

#header .control {
  pointer-events: auto;
}

#svg {
  width: 100%;
  height: 100%;
}
